body {
    background-color: whitesmoke;

}

.navBar {
    display: flex;

}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 12;
    background-color: white;
    margin-top: -15px;
}

.navBarRight {
    display: flex;
}

.navBarLeft>div {
    margin-top: 20px;
    margin-left: 20px;
}

.navBarRight {
    margin-left: 700px;
    margin-top: 20px;
}

a>div {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.openQuiz {
    width: 155px;
    height: 25px;
    border: 1px solid black;
    margin: 5px;
    font-family: Montserrat, sans-serif;
    padding: 8px;

}

h1 {
    margin-top: 55px;
    margin-left: 50px;
    font-family: Montserrat, sans-serif;
}

.filter {
    display: flex;

}

#head {
    margin-top: 55px;
}

#filterProduct {
    /* border: 1px solid blue; */
    border-radius: 30px;
    width: 140px;
    height: 20px;
    margin-top: 105px;
    margin-left: 700px;
    padding: 6px;
    font-family: Montserrat, sans-serif;

}

#filterProduct>select {
    width: 140px;
    height: 20px;
}

#filterProduct>select option {
    font-size: 16px;
    width: 100px;
    height: 16px;
}

a {
    text-decoration: none;
}

.image>img {
    height: 250px;
    width: 1200px;
    margin: auto;
    margin-left: 40px;
    margin-top: 30px;

}

.grid1 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.box {
    border: 1px solid gray;
}

.tittle {
    text-align: center;
    height: 35px;


}

.rating {
    text-align: center;
    color: #e29c2b;


}

.price {
    text-align: center;
    font-weight: bold;
}

.addToCard {
    height: 25px;
    width: 140px;
    background-color: #e78471;
    border: 1px solid black;
    margin: auto;
    padding: 8px;
    color: white;

}

#btn {
    height: 30px;
    width: 140px;
    background-color: #e78471;
    border: 1px solid black;
    margin: auto;
    padding: 8px;
    color: white;
    margin-left: 25px;

}

.grid2 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px 450px 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid3-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid3-b {
    display: grid;

    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid4-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid4-b {
    display: grid;

    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid5 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid6 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid7 {
    display: grid;

    grid-template-columns: 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-b {
    display: grid;

    grid-template-columns: 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-b {
    display: grid;

    grid-template-columns: 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid8-b {
    display: grid;

    grid-template-columns: 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid9-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid9-b {
    display: grid;

    grid-template-columns: 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid10-a {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid10-b {
    display: grid;

    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid11 {
    display: grid;

    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid12 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid13 {
    display: grid;

    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}

.grid14 {
    display: grid;

    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 450px;
    grid-gap: 18px;
    margin-top: 20px;
    margin: auto;
    margin-left: 40px;
    padding-top: 30px;


}